{% extends "base.html.twig" %}

{% block body %}

    <div style="background-color: gray; height: 500px"></div>

    <div class="contact-us-container">
        <div class="contact-us-intro-container">
            <p>{{ page.panels.intro }}</p>
            <address>{{ page.panels.address|raw }}</address>
            <p>{{ page.panels.contactNumber }}</p>
            <a href="">{{ page.panels.findUs }}</a>
            <a href="">{{ page.panels.directions }}</a>
            {% include "form/contact-us-form.html.twig" with {form: form} only %}
        </div>
        <div class="contact-us-image-container">
            <img src="{{ page.previewImage }}" alt="">
        </div>
    </div>

    <div style="background-color: gray; height: 500px"></div>

{% endblock %}