<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700" rel="stylesheet">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}
    </head>
    <body>

        {#-------------MAIN NAVIGATION-------------#}

        <nav class="header-container">
            <div class="top-nav-container">
                <ul class="top-nav">
                    <li><a href="#">Book</a></li>
                    <li><a href="#">Before you book</a></li>
                    <li><a href="#">Offers</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="logo-container">
                <img class="main-logo" src="{{ asset('images/homepage/LooseReinsLogo.svg') }}" alt="logo">
            </div>
            <div class="bottom-nav-container">
                <ul class="bottom-nav">

                    {# @var link \App\Entity\Navigation #}
                    {% for link in links %}
                        <li><a href="{{ link.slug }}">{{ link.title}}</a></li>
                    {% endfor %}

                    <li class="mobile-nav-item"><a href="#">Book</a></li>
                    <li class="mobile-nav-item"><a href="#">Before you book</a></li>
                    <li class="mobile-nav-item"><a href="#">Offers</a></li>
                    <li class="mobile-nav-item"><a href="#">Gallery</a></li>
                    <li class="mobile-nav-item"><a href="#">Contact</a></li>
                </ul>
            </div>
            <button class="mobile-menu-btn">
                <span class="menu-line"></span>
                <span class="menu-line"></span>
                <span class="menu-line"></span>
            </button>
        </nav>

        {#------------CONTENT-------------#}

        {% block body %}{% endblock %}

        {#------------FOOTER--------------#}

        <footer class="footer">
            <div class="left-container">
                <address>
                    Loose Reins,<br>
                    Ridgeway Farm,<br>
                    Shillingstone,<br>
                    Dorset,<br>
                    DT11 0TF
                </address>
            </div>
            <div class="right-container">
                {% include "partials/social-icons.html.twig" %}
                <p class="contact-number">01258 863533</p>
                <div class="footer-nav">
                    <a href="#">FAQs</a>
                    <a href="#">Accessibility Guide</a>
                    <a href="#">Terms &amp; Conditions</a>
                    <a href="#">Eco Policy</a>
                    <a href="#">Privacy</a>
                </div>
                <button class="signup">Signup</button>
                <p class="copyright">Website by Tom Dempster</p>
            </div>
        </footer>

        {#---------------STICKY BOOK NOW BUTTON-----------------#}

        {% block sticky_book_now %}
            <div class="booking-bar">
                <button class="booking-button">Book Now</button>
                <div></div>
            </div>
        {% endblock %}

        {#----------------STICKY SOCIAL ICONS-------------------#}

        {% block sticky_social_icons %}
            <div class="sticky-social-icons">
                {% include "partials/social-icons.html.twig" %}
            </div>
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('build/runtime.js') }}"></script>
            <script src="{{ asset('build/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
