<nav class="header-container">
    <div class="top-nav-container">
        <ul class="top-nav">
            <li><a href="https://secure.supercontrol.co.uk/availability/availability_weekly.asp?ownerID=7376&siteID=23648">Book</a></li>
            <li><a href="{{ path('app_page_before_you_book') }}">Before you book</a></li>
            <li><a href="#">Offers</a></li>
            <li><a href="{{ path('app_gallery') }}">Gallery</a></li>
            <li><a href="{{ path('app_enquiry_contact') }}">Contact</a></li>
        </ul>
    </div>
    <div class="logo-container">
        <a href="{{ path('app_default_homepage') }}">
            <img class="main-logo" src="{{ asset('images/homepage/LooseReinsLogo.svg') }}" alt="logo">
        </a>
    </div>
    <div class="bottom-nav-container">
        <ul class="bottom-nav">

            {# TODO remove or fix?#}
            {# @var link \App\Entity\MainPage #}
            {#{% for link in main_navigation() %}#}
                {#<li><a class="{{ link.slug == app.request.pathInfo|first_slug ? 'active' }}" href="{{ path('app_default_page', {'mainSlug': link.slug}) }}">{{ link.title}}</a></li>#}
            {#{% endfor %}#}
            <li><a class="{{ 'cabins' == app.request.pathInfo|first_slug ? 'active' }}" href="{{ path('app_default_page', {'mainSlug': 'cabins'}) }}">Cabins</a></li>
            <li><a class="{{ 'lodges' == app.request.pathInfo|first_slug ? 'active' }}" href="{{ path('app_default_page', {'mainSlug': 'lodges'}) }}">Lodges</a></li>
            <li><a class="{{ 'loose-reins-country' == app.request.pathInfo|first_slug ? 'active' }}" href="{{ path('app_default_page', {'mainSlug': 'loose-reins-country'}) }}">Loose Reins Country</a></li>
            <li><a class="{{ 'out-and-about' == app.request.pathInfo|first_slug ? 'active' }}" href="{{ path('app_default_page', {'mainSlug': 'out-and-about'}) }}">Out and About</a></li>
            <li><a class="{{ 'pantry' == app.request.pathInfo|first_slug ? 'active' }}" href="{{ path('app_default_page', {'mainSlug': 'pantry'}) }}">Pantry</a></li>
            <li><a class="{{ 'loose-talk' == app.request.pathInfo|first_slug ? 'active' }}" href="{{ path('app_article_index') }}">Loose Talk</a></li>
            <li><a class="{{ 'reviews' == app.request.pathInfo|first_slug ? 'active' }}" href="{{ path('app_default_page', {'mainSlug': 'reviews'}) }}">Reviews</a></li>

            <li class="mobile-nav-item"><a href="#">Book</a></li>
            <li class="mobile-nav-item"><a href="#">Before you book</a></li>
            <li class="mobile-nav-item"><a href="#">Offers</a></li>
            <li class="mobile-nav-item"><a href="{{ path('app_gallery') }}">Gallery</a></li>
            <li class="mobile-nav-item"><a href="{{ path('app_enquiry_contact') }}">Contact</a></li>
        </ul>
    </div>

    {# @var sublink \App\Entity\Navigation #}
    {% if subLinks is defined %}
        <div class="dropdown-nav-container">
            <ul class="dropdown-nav">
                {% for sublink in subLinks %}
                    {% if sublink.title is not empty %}
                        <li><a class="sublink {{ sublink.slug == app.request.attributes.get('slug') ? 'active' }}" href="{{ path('app_default_page', {'mainSlug': sublink.parent.slug, 'slug': sublink.slug }) }}">{{ sublink.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <button class="mobile-menu-btn">
        <span class="menu-line"></span>
        <span class="menu-line"></span>
        <span class="menu-line"></span>
    </button>
</nav>